In [1]:
# SESSION 0PLUS TO 10 
 
#imports my google drive into colab
from google.colab import drive
drive.mount('/content/gdrive')

from matplotlib.colors import ListedColormap
from sklearn.neighbors import kneighbors_graph

#import important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from sklearn.cluster import SpectralClustering


#uses pandas read_csv function to read csv and store in variable; sets the engine to python 
session010 = pd.read_csv('gdrive/My Drive/sessions_0plus_to_10_metadata.csv', engine='python')

#extract specific columns and store in variable df (dataframe)
df = pd.DataFrame(session010, columns=['question1', 'question2','likes', 'shared media', 'follows', 'followed_by', 'cyberaggression', 'cyberbullying']
)

#convert data types of q1 to binary (0 or 1)
#agression and bullying instances set to 1
df['question1'] = (df['question1'] == 'aggression').mul(1)
df['question2'] = (df['question2'] == 'bullying').mul(1)

#takes out string from column and changes the type from string to int
df['likes'] = df['likes'].map(lambda x: x.rstrip('\r\r likes')).astype(int)

print("--------------------------------------------------------------------------------------------------")
print("\t\t\t\t\tThis is session_0plus_to_10")

#convert df to numpy array
df.to_numpy()

df

Mounted at /content/gdrive
--------------------------------------------------------------------------------------------------
					This is session_0plus_to_10

     question1  question2   likes  ...  followed_by  cyberaggression  cyberbullying
0            0          0    4313  ...        53913                1              0
1            0          0    2102  ...       426533                0              0
2            0          0  108939  ...      1974089                1              1
3            1          1    6441  ...       349594                3              3
4            0          0    1153  ...        60772                0              0
..         ...        ...     ...  ...          ...              ...            ...
273          0          0   11899  ...       360658                0              0
274          0          0   23223  ...       651132                2              2
275          0          0    1033  ...       106468                0              0
276          0          0    2356  ...       297618                0              0
277          0          0    1644  ...       197778                0              0

[278 rows x 8 columns]

In [2]:
#build a list from df columns
cols = list(df.columns)
df[cols]

#for loop that runs z-score on each column and prints it in new column with column name folowed by zscore
for col in cols:
    col_zscore = col + '_zscore'
    df[col_zscore] = (df[col] - df[col].mean())/df[col].std(ddof=0)

df

     question1  question2  ...  cyberaggression_zscore  cyberbullying_zscore
0            0          0  ...                0.191776             -0.690815
1            0          0  ...               -0.760256             -0.690815
2            0          0  ...                0.191776              0.406594
3            1          1  ...                2.095841              2.601413
4            0          0  ...               -0.760256             -0.690815
..         ...        ...  ...                     ...                   ...
273          0          0  ...               -0.760256             -0.690815
274          0          0  ...                1.143809              1.504003
275          0          0  ...               -0.760256             -0.690815
276          0          0  ...               -0.760256             -0.690815
277          0          0  ...               -0.760256             -0.690815

[278 rows x 16 columns]

In [3]:
#knn graph
A = kneighbors_graph(df, 5, mode='connectivity', include_self=True).toarray()
A

#clustering = SpectralClustering(n_clusters=5, affinity='precomputed', n_init=100, assign_labels='discretize')
#clustering.fit_predict(A)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [7]:
# SESSION 10PLUS TO 40

#imports my google drive into colab
from google.colab import drive
drive.mount('/content/gdrive')

from matplotlib.colors import ListedColormap
from sklearn.neighbors import kneighbors_graph

#import important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from sklearn.cluster import SpectralClustering

#uses pandas read_csv function to read csv and store in variable; sets the engine to python 
session1040 = pd.read_csv('gdrive/My Drive/sessions_10plus_to_40_metadata.csv', engine='python')

#extract specific columns and store in variable df (dataframe)
df = pd.DataFrame(session1040, columns=['question1', 'question2','likes', 'shared media', 'follows', 'followed_by', 'cyberaggression', 'cyberbullying']
)

#convert data types of q1 to binary (0 or 1)
#agression and bullying instances set to 1
df['question1'] = (df['question1'] == 'aggression').mul(1)
df['question2'] = (df['question2'] == 'bullying').mul(1)

#takes out string from column and changes the type from string to int
df['likes'] = df['likes'].map(lambda x: x.rstrip('\r\r likes')).astype(int)

print("--------------------------------------------------------------------------------------------------")
print("\t\t\t\t\tThis is session_10plus_to_40")

#convert df to numpy array
df.to_numpy()

df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
--------------------------------------------------------------------------------------------------
					This is session_10plus_to_40

      question1  question2  likes  ...  followed_by  cyberaggression  cyberbullying
0             0          0    703  ...       134980                1              1
1             0          0   1810  ...        50067                2              2
2             1          0   5229  ...       331599                3              2
3             1          1  16341  ...      1439385                4              4
4             1          1  21623  ...       470346                4              4
...         ...        ...    ...  ...          ...              ...            ...
1013          0          0     17  ...        58274                1              1
1014          1          1   1202  ...        56421                4              4
1015          0          0   1101  ...       222247                0              0
1016          0          0    435  ...         3757                0              0
1017          0          0   7455  ...      2526016                1              1

[1018 rows x 8 columns]

In [8]:
#build a list from df columns
cols = list(df.columns)
df[cols]

#for loop that runs z-score on each column and prints it in new column with column name folowed by zscore
for col in cols:
    col_zscore = col + '_zscore'
    df[col_zscore] = (df[col] - df[col].mean())/df[col].std(ddof=0)

df

      question1  question2  ...  cyberaggression_zscore  cyberbullying_zscore
0             0          0  ...               -0.498629             -0.183416
1             0          0  ...                0.153819              0.591345
2             1          0  ...                0.806267              0.591345
3             1          1  ...                1.458715              2.140868
4             1          1  ...                1.458715              2.140868
...         ...        ...  ...                     ...                   ...
1013          0          0  ...               -0.498629             -0.183416
1014          1          1  ...                1.458715              2.140868
1015          0          0  ...               -1.151078             -0.958177
1016          0          0  ...               -1.151078             -0.958177
1017          0          0  ...               -0.498629             -0.183416

[1018 rows x 16 columns]

In [9]:
#knn graph
A = kneighbors_graph(df, 5, mode='connectivity', include_self=True).toarray()
A

#clustering = SpectralClustering(n_clusters=5, affinity='precomputed', n_init=100, assign_labels='discretize')
#clustering.fit_predict(A)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [10]:
#SESSION 40PLUS

#imports my google drive into colab
from google.colab import drive
drive.mount('/content/gdrive')

import pandas as pd

#uses pandas read_csv function to read csv and store in variable; sets the engine to python 
session40 = pd.read_csv('gdrive/My Drive/sessions_40plus_metadata.csv', engine='python')

#extract specific columns and store in variable df (dataframe)
df = pd.DataFrame(session40, columns=['question1', 'question2','likes', 'shared media', 'follows', 'followed_by', 'cyberaggression', 'cyberbullying']
)

#convert data types of q1 to binary (0 or 1)
#agression and bullying instances set to 1
df['question1'] = (df['question1'] == 'aggression').mul(1)
df['question2'] = (df['question2'] == 'bullying').mul(1)

#takes out string from column and changes the type from string to int
df['likes'] = df['likes'].map(lambda x: x.rstrip('\r\r likes')).astype(int)

#convert df to numpy array
df.to_numpy()

df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

     question1  question2  likes  ...  followed_by  cyberaggression  cyberbullying
0            1          1    196  ...        95224                5              5
1            1          1    570  ...        61385                5              3
2            1          1     44  ...        50710                5              5
3            1          1   1381  ...      1905124                4              3
4            1          1   1936  ...       532939                5              5
..         ...        ...    ...  ...          ...              ...            ...
917          1          0    442  ...        24257                4              1
918          0          0    196  ...         7457                0              0
919          1          0     50  ...         1180                3              2
920          1          0    454  ...        14265                3              2
921          1          1  37734  ...       888292                5              5

[922 rows x 8 columns]

In [11]:
#build a list from df columns
cols = list(df.columns)
df[cols]

#for loop that runs z-score on each column and prints it in new column with column name folowed by zscore
for col in cols:
    col_zscore = col + '_zscore'
    df[col_zscore] = (df[col] - df[col].mean())/df[col].std(ddof=0)

df

     question1  question2  ...  cyberaggression_zscore  cyberbullying_zscore
0            1          1  ...                0.934943              1.277202
1            1          1  ...                0.934943              0.239229
2            1          1  ...                0.934943              1.277202
3            1          1  ...                0.422142              0.239229
4            1          1  ...                0.934943              1.277202
..         ...        ...  ...                     ...                   ...
917          1          0  ...                0.422142             -0.798744
918          0          0  ...               -1.629058             -1.317730
919          1          0  ...               -0.090658             -0.279757
920          1          0  ...               -0.090658             -0.279757
921          1          1  ...                0.934943              1.277202

[922 rows x 16 columns]

In [12]:
#knn graph
A = kneighbors_graph(df, 5, mode='connectivity', include_self=True).toarray()
A

#clustering = SpectralClustering(n_clusters=5, affinity='precomputed', n_init=100, assign_labels='discretize')
#clustering.fit_predict(A)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])